// src/shared/components/ThemeToggle/ThemeToggle.module.scss
.themeSwitcher {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 2px;
    margin: 8px 16px;
    display: flex;
    white-space: nowrap;
    line-height: 1.2;
    gap: 2px;

    
    // Для компактного состояния
    &:not(:has(.themeOption)) {
      justify-content: center;
      padding: 3px;
    }
  }
  
  .themeOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    transition: all 0.5s ease;
    color: var(--text-secondary);
    font-size: 10px;
  
    &:hover {
      background-color: var(--bg-secondary);
      color: var(--text-primary);
    }
  
    &.active {
      background-color: var(--bg-secondary);
      border: 1px solid var(--border-color);
      color: var(--text-primary);
    }
  }
  
  .compactToggle {
    border: 1px solid transparent;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: var(--text-secondary);
    line-height: 1.2;

  
    &:hover {
      background-color: var(--bg-secondary);
      transform: scale(1);
    }
  }
  
  .themeIcon {
    margin-right: 4px;
    font-size: 16px;
    
    .compactToggle & {
      margin-right: 0;
    }
  }