@import '../ContentGrid.module.scss';

.contentLogo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto 15px;
}

.brandCard {
  h3 {
    margin: 0 0 5px 0;
    color: var(--text-primary);
    font-size: 16px;
    line-height: 1.2;
  }

  p {
    margin: 5px 0 0 0;
    color: var(--text-secondary);
    word-break: inherit;
    overflow-wrap: inherit;
  }
}

.brandCard:hover {
  h3 {
    color: var(--primary-color);
  }
}