.carFilterWrapper {
  position: relative;
}

.carFilterContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100vh; // Добавляем высоту для контейнера
  overflow: hidden; // Скрываем переполнение основного контейнера

  @media (max-width: 968px) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .carFilterContainer {
    padding: 10px;
    gap: 15px;
  }
}