.selectionInfo {
    margin-bottom: 2px;
    text-align: left;
  }
  
  .selectedItem {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    background: var(--bg-secondary);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    margin-bottom: 5px;
    gap: 8px;
    transition: all 0.2s ease;

    &:hover {
      border-color: transparent;
      background: var(--bg-fourthly);
      border-radius: 10px;
      scale: 1;
    }
  
    &:hover .removeIcon {
      color: var(--black-white);
    }
  
    strong {
      margin-right: 8px;
      color: var(--text-primary);
    }
  
    span {
      flex: 1;
      color: var(--text-primary);
      font-size: 14px;
      cursor: default;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  
    }
  
    &.removeIconHover {
      border-color: #ff444431 !important;
      background: transparent;
      scale: 0.995;
      border-radius: 14px;
  
      span {
        flex: 1;
        color: var(--text-secondary);
        font-size: 14px;
        cursor: default;
      }
    }
  }
  
  .removeIcon {
    color: var(--text-secondary);
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    flex-shrink: 0;
  
    &:hover {
      color: #ff4444 !important;
      background: rgba(255, 68, 68, 0.1);
      border-radius: 8px;
      scale: 0.94;
    }
  }