@import '../ContentGrid.module.scss';


.firmwareContainer {
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 0px;
  }

  .firmwareHeaderContainer {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 0px;
  }
  
  .firmwareWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
    width: 100%;
  }
  
  .firmwareHeaderWrapper {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
        //background: var(--accent-color);
        color: var(--text-primary);
        //padding: 4px 8px;
        //border-radius: 4px;
        font-size: 1.2rem;
        font-weight: bold;
    }

  }
  
  .firmwareHeader {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 7px;
    align-items: center;
    margin-bottom: 3px;
    align-items: flex-start;
    flex-direction: column;
  
    h3 {
      color: var(--text-primary);
      margin: 0;
      //font-size: 18px;
      width: fit-content;
    }

    p {
        background: var(--accent-color);
        color: var(--primary-color);
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
    }
  }
  
  .firmwareVersion {
    background: var(--accent-color);
    color: var(--primary-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .firmwareStats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: var(--box-shadow-primary);
    width: fit-content;
    background: var(--bg-primary);
    transition: scale 0.2s ease;
  
    &:hover {
      scale: 1.01;
    }
  }
  
  .stat {
    display: flex;
    flex-direction: row;
  }
  
  .statLabel {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 4px;
  }
  
  .statValue {
    font-size: 14px;
    color: #15d415;
    font-weight: 700;
  }
  
  .firmwareMeta {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
    font-size: 12px;
    color: var(--text-secondary);
    bottom: 0;
  }

  .description {
    text-align: left;
  }
  
  .rating {
    color: #ffc107;
  }
  
  .downloads {
    color: var(--primary-color);
  }
  
  .otherFirmwaresSection {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px solid var(--border-color);
  }
  
  @media (max-width: 768px) {
    .firmwareStats {
      grid-template-columns: 1fr;
    }
    
    .firmwareHeader {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
    
    .firmwareMeta {
      flex-wrap: wrap;
    }
    
    .otherFirmwaresTitle {
      font-size: 16px;
      padding-left: 5px;
    }
  }