.filterPanel {
    background: var(--bg-primary);
    box-shadow: var(--box-shadow-primary);
    border-radius: 22px;
    height: fit-content;
    position: sticky;
    //top: 20px;
    box-sizing: border-box;
    width: 250px;
    overflow: hidden;
    max-height: 100vh;
  
    @media (max-width: 968px) {
      position: static;
      margin-bottom: 20px;
      width: 100%;
      max-height: none;
    }
  }
  
  .headerFilterPanel {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .resultsFilterPanel {
    margin: 15px;
  }
  
  .filterGroup {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .filterPanel h2 {
    margin: 10px 0;
    color: var(--text-primary);
    font-size: 18px;
  }