// src/widgets/SideNav/components/UserProfile/UserProfile.module.scss
.userProfile {
  display: flex;
  align-items: center;

  padding: 12px 16px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
  padding: 2px;
  background-color: var(--accent-color);
  flex-shrink: 0;


  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}

.userInfo {
  margin-left: 12px;
  transition: opacity 0.3s ease;
}

.userName {
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 500;
}

.userEmail {
  font-size: 12px;
  color: var(--text-secondary);
  margin-top: 4px;
}