.resultsPanel {
    background: var(--bg-primary);
    box-shadow: var(--box-shadow-primary);
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }