.userFileFilters {
    background: var(--bg-primary);
    box-shadow: var(--box-shadow-primary);
    border-radius: 14px;
    height: fit-content;
    position: sticky;
    //top: 20px;
    box-sizing: border-box;
    width: 250px;
    overflow-y: visible;
    max-height: calc(100vh - 40px);

  
    @media (max-width: 968px) {
      position: static;
      margin-bottom: 20px;
      width: 100%;
      max-height: none;
    }
  }
  
  .headerFilterPanel {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;

  
    h2 {
      margin: 3px 0;
      color: var(--text-primary);
      font-size: 18px;
    }
  }

 
  
  .filtersContent {
    margin: 15px;
  }
  
  .searchSection {
    margin-bottom: 10px;
  }
  
  .filtersSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .filterLabel {
    display: none;
    font-size: 14px;
    color: var(--text-secondary);
    font-weight: 500;
  }
  
  // Адаптивность
  @media (max-width: 768px) {
    .userFileFilters {
      width: 100%;
    }
    
    .filtersContent {
      margin: 15px;
    }
    
    .filtersSection {
      gap: 12px;
    }
  }