// src/widgets/SideNav/components/NavSection/NavSection.module.scss
.navSection {
    flex: 1;
    padding: 14px;
  }
  
  .sectionLabel {
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .navItem {
    display: flex;
    align-items: left;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    text-align: left;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
  
    &:hover {
      background-color: var(--bg-secondary);
      transform: scale(0.995);
    }
  
    &.active {
      background-color: var(--accent-color);
    }
  
    &.collapsed {
      justify-content: left;
      padding: 12px;
  
      &:hover {
        transform: scale(0.95);
        // Добавляем подсказку при ховере в сжатом состоянии
        &::after {
          content: attr(title);
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          background: var(--bg-primary);
          color: var(--text-primary);
          padding: 8px 12px;
          border-radius: 6px;
          font-size: 1rem;
          white-space: nowrap;
          margin-left: 10px;
          box-shadow: var(--box-shadow-primary);
          z-index: 1001;
        }
      }
    }
  }
  
  .navIcon {
    font-size: 20px;
    margin-right: 12px;
    color: var(--text-primary);
  
    .navItem.collapsed & {
      margin-right: 0;
    }
  }
  
  .navItem:hover .navIcon,
  .navItem.active .navIcon {
    color: var(--primary-color);
  }
  
  .navLabel {
    color: var(--text-primary);
    flex: 1;
  }
  
  .badge {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 2px 6px;
    border-radius: 50px;
    font-size: 10px;
  }