.searchInput {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    outline-offset: -2px;
    margin-bottom: 10px;
  
    input {
      width: 100%;
      padding: 12px 15px 12px 40px;
      border: 0px solid #359dff51;
      box-shadow: var(--box-shadow-primary);
      border-radius: 10px;
      font-size: 14px;
      background: var(--bg-primary);
      color: var(--text-primary);
      box-sizing: border-box;
      transition: all 0.3s ease;
  
      &:focus {
        outline: none;
        border-color: var(--primary-color);
        border: 0px solid var(--border-color);
      }
  
      &:hover {
        outline: none;
        border: 0px solid #359dff51;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.4);
        background-color: var(--bg-thirdly);
        transition: all 0.3s ease;
        scale: 1;
      }
    }
  }
  
  .searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-thirdly);
    opacity: 50%;
  }
  
  .searchInput.input:hover .searchIcon {
    opacity: 100%;
  }