@import '../ContentGrid.module.scss';


.tuningOptionsContainer {
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 0px;
  }
  
  .tuningSection {
    margin-bottom: 20px;
  }
  
  .tuningSectionTitle {
    color: var(--text-primary);
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 4px solid var(--primary-color);
  }
  
  .otherFirmwaresTitle {
    color: var(--text-primary);
    font-size: 20px !important;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    padding-left: 12px;
    border-left: 4px solid var(--primary-color);
  }
  
  .unavailableText {
    color: var(--text-secondary);
    font-style: italic;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .tuningSectionTitle {
      font-size: 18px;
    }
    
    .tuningOptionsContainer {
      gap: 20px;
    }
  }